body {
  height: 100vh;
}
li {
  list-style: none;
}
.flex {
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: top;
}
.column {
  max-height: 90vh;
  width: 45%;
}
.column textarea {
  width: 100%;
}

.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

@media print {
  * {
    font-size: 10px !important;
  }
  .hide-print {
    display: none;
  }
  .print-large {
    width: 90vw;
    border: none !important;
    max-height: none !important;
    height: auto !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  .print-large * {
    border: none !important;
    width: 33%;
    margin: 0;
    padding: 0;
  }

  .column {
    max-height: none;
    width: 100%;
  }
  .hide-print {
    display: none !important;
  }
  .flex {
    display: block;
  }
  .no-flex {
    display: block;
  }
  .no-flex div {
    display: block !important;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .no-flex h2 {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .no-flex h2 p {
    flex-grow: 1;
    padding: 0;
    margin: 0;
  }
  .no-flex h2 img {
    display: none !important;
  }
  .chakra-container {
    margin: 0;
  }
}
