body {
  background-color: white;
}
li {
  list-style: none;
}
.flex {
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: top;
}
.column {
  max-height: 90vh;
  width: 45%;
}
.column textarea {
  width: 100%;
}

.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

@media print {
  .column {
    max-height: none;
  }
  .hide-print {
    display: none;
  }
  .flex {
    display: block;
  }
}
